h3 {
    margin: 0;
}

hr {
    border: 1px solid var(--clr-grayish-blue);;
    width: 95%;
}

button {
    color: var(--clr-white);
    background-color: var(--clr-orange);
    padding: 1em;
    font: inherit;
    border: none;
    border-radius: .5em;
    margin: 1em auto;
    width: 90%;
}

button[disabled] {
    background-color: var(--clr-grayish-blue);
}